<div class="demo-right"> <a data-toggle="modal" data-target="#demo-modal">de<span>mo</span></a></div>
<div class="modal fade bd-example-modal-xl theme-modal demo-modal" data-target=".bd-example-modal-xl" id="demo-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content demo_modal">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                <div id="demo-section" class="demo-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="title-text text-center">
                                    <h3>21 <span><i class="fa fa-plus" aria-hidden="true"></i></span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo1" style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_1.jpg)">
                                  </div>
                                    <div class="demo-text">
                                        <h4><span>Demo 1</span> - Fashion</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?_cd=7e0eb9092c2553584eeb60733035120d1ecaf66d2d742975f58d529e2de1a116&amp;_uid=24912625762&amp;preview_theme_id=')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/index.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo2"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_2.jpg)">
                                  </div>
                                    <div class="demo-text">
                                        <h4><span>Demo 2</span> - Fashion</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=44090196066')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/fashion-2.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo3"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_3.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 3</span> - Fashion</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=44090294370')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/fashion-3.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo4"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_4.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 4</span> - Shoes</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=44090753122')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/shoes.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo5"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_5.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 5</span> - Bags</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43825889378')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/bags.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo6"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_6.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 6</span> - Watch</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43826610274')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/watch.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo7"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_7.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 7</span> - Kids</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43826217058')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/kids.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo8"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_8.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 8</span> - Flower</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43825823842')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/flower.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo9"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_9.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 9</span> - Nursery</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43826675810')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/nursery.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo10"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_10.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 10</span> - Vegetables</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43825627234')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/vegetables.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo11"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_11.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 11</span> - Beauty</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43825037410')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/beauty.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo12"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_12.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 12</span> - Instagram Shop</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-instashop.myshopify.com/')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/instagram-shop.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects effect-2">
                                <div class="set-position">
                                    <div class="layout-container demo13"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_13.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 13</span> - Lookbook</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-lookbook.myshopify.com/')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/lookbook-demo.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo14"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_14.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 14</span> - Light</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43825758306')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/light.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo15"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_15.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 15</span> - Full Page</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43824709730')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/full-page.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo16"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_16.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 16</span> - Electronic-1</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43824676962')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/electronic-1.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo17"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_17.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 17</span> - Electronic-2</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43824414818')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/electronic-2.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects effect-2">
                                <div class="set-position">
                                    <div class="layout-container demo18"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_18.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 18</span> - Video</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-video.myshopify.com/')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/video.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo19" style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_19.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 19</span> - Goggles</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43824119906')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/goggles.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo20" style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_20.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 20</span> - Parallax</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43932811362')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/parallax.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo21"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_21.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 21</span> - Furniture</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43823857762')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/furniture.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                          <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo22"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_21.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 22</span> - Tools</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43823857762')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/furniture.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                          <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo23"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_21.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 23</span> - Game</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43823857762')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/furniture.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                          <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo24"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_21.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 24</span> - Gym</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43823857762')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/furniture.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                          <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo25"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_21.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 25</span> - Left header</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43823857762')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/furniture.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                          <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo26"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_21.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 26</span> - Marijuana</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43823857762')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/furniture.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                          <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo27"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_21.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 27</span> - Jewellery</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43823857762')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/furniture.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                          <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo28"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_21.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 28</span> - Pets</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43823857762')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/furniture.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                          <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo29"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_21.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 29</span> - Metro</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43823857762')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/furniture.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                          <div class="col-xl-3 col-lg-4 col-sm-6 col-12 text-center demo-effects">
                                <div class="set-position">
                                    <div class="layout-container demo30"  style="background-image: url(https://cdn.shopify.com/s/files/1/0032/3279/2674/files/multikart_21.jpg)"></div>
                                    <div class="demo-text">
                                        <h4><span>Demo 30</span> - Video slider</h4>
                                        <div class="btn-group demo-btn" role="group" aria-label="Basic example"> 
                                          <button type="button" onClick="window.open('https://multikart-fashion.myshopify.com/?fts=0&preview_theme_id=43823857762')" class="btn new-tab-btn">Preview</button> <button type="button" onClick="window.open('http://themes.pixelstrap.com/multikart/RTL/furniture.html')" class="btn new-tab-btn">RTL</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>