<section class="dtm p-0 pet-parallax lazyload" 
         data-bgset="" data-sizes="auto" data-parent-fit="cover" 
          style="background: url({{ hero_image | img_url: '1728x' }}) no-repeat center/cover"
         >

    <div class="full-banner parallax text-center p-center">
        <div class="container-fluid px-0">
            <div class="row">
                <div class="col"> 
                    <div class="banner-contain">
                        <h2 class="landing-page-title">{{ text_on_image }}</h2>			
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
