<div id="payright-wrapper">
  <script id="paybright" src=" https://app.paybright.com/api/shopify.js?public_key=dkJXwWqz9jq7SkVXCjQuuuTcqJyCD873ctxfND8VymHTHX8UZu&financedamount=${{ product.price | divided_by: 100.00 | round: 2 }}"></script>
  <div id="paybright-widget-container"></div>
</div>