<div
  class="slick-slide slick-active"
  data-slick-index="17"
  aria-hidden="false"
  style="width: 343px"
>
  <div>
    <div
      class="product-box qurox-feature-product p-md-3 mt-2"
      data-pro-id="6542983757981"
      style="width: 100%; display: inline-block"
    >
      <div class="img-block">
        <div class="img-effect">
          <div class="lable-wrapper"></div>
          <div class="front">
            <a
              href="/collections/new-arrival/products/weber-original-18-kettle-charcoal-grill"
              tabindex="0"
            >
              <img
              src="//cdn.shopify.com/s/files/1/0549/1346/6525/products/cmyk_441001A_340x555.jpg?v=1617263264"
              class="blur-up img-fluid lazyloaded" alt="Weber Original 18"
              kettle="" charcoal="" grill"="">
            </a>
          </div>

          <div class="back">
            <a
              href="/collections/new-arrival/products/weber-original-18-kettle-charcoal-grill"
              tabindex="0"
            >
              <img
              src="//cdn.shopify.com/s/files/1/0549/1346/6525/products/441001AC-946x1200-fbecc7d_340x555.png?v=1617263264"
              class="blur-up img-fluid lazyloaded" alt="Weber Original 18"
              kettle="" charcoal="" grill"="">
            </a>
          </div>
        </div>

        <div class="cart-info">
          <form
            method="post"
            enctype="multipart/form-data"
            action="/cart/add"
            class="product_grid_cart_form d-inline-block"
            id="product_grid_id_39271155826845"
          >
            <input
              type="hidden"
              name="id"
              value="39271155826845"
              tabindex="0"
            />
            <button
              data-toggle="tooltip"
              data-placement="top"
              title=""
              class="add_to_cart_btn_cls fly_addtocart"
              data-original-title="Add to cart"
              tabindex="0"
            >
              <i class="ti-shopping-cart"></i>
            </button>
          </form>

          <a
            class="action--wishlist tile-actions--btn flex wishlist-btn"
            href="javascript:void(0)"
            data-product-handle="weber-original-18-kettle-charcoal-grill"
            tabindex="0"
          >
            <i class="ti-heart btn--main" aria-hidden="true"></i>
          </a>

          <a
            href="#"
            data-toggle="tooltip"
            data-placement="top"
            data-pid="weber-original-18-kettle-charcoal-grill"
            title=""
            class="compare"
            data-original-title="Compare"
            tabindex="0"
            ><i class="ti-reload" aria-hidden="true"></i
          ></a>
        </div>
      </div>
      <div class="product-detail">
        <a
          href="/collections/new-arrival/products/weber-original-18-kettle-charcoal-grill"
          tabindex="0"
        >
          <h6 itemprop="name">Weber Original 18" Kettle Charcoal Grill</h6>
        </a>

        <h4 data-id="6542983757981" data-price="11999">$119.99</h4>
      </div>

      <span id="pro_tags" style="display: none"
        >Brand_Weber,dtm_cook-type_Charcoal Grill,dtm_stand-type_Free
        Standing,Type_Charcoal Grills,Type_Free Standing</span
      >

      <div class="hide">261875499165</div>

      <script></script>
    </div>
  </div>
</div>
