.cache
node_modules
.env
config.yml
assets/custom*
assets/chunk*
assets/PerfectGrill*
assets/ProductPage*
assets/ProductTypeCollection*
assets/SearchResult*
assets/WishlistContainer*
assets/OtherPage*