<!-- COVID-19 Response Bar -->
{% capture sectionId %}{{ section.id }}{% endcapture %}
{% if section.settings.enabled %}
<section class="dtm announcement-bar">
  <div class="container">
        <div class="announcement-wrapper">          
          <a href="{{ section.settings.covidresponse_url }}""> <h4> {{ section.settings.covidresponse_text }}</h4> </a>
        </div>
  </div>
  </span>
</section>
{% endif %}


{% schema %}
{
   "name":"COVID-19 Response Bar",
   "settings":[
        {
        "type": "checkbox",
        "id": "enabled",
        "default": true,
        "label": "Enabled "
        },
      {
        "type": "text",
        "id": "covidresponse_text",
        "label": "COVID-19 Response Text",
        "default": "Click Here for our COVID-19 Respons"
      },
      {
        "type": "url",
        "id": "covidresponse_url",
        "label": "COVID-19 Response Page URL"
      }
   ],
   "presets":[
      {
         "name":"Announcement Bar",
         "category":"text",
         "settings":{ }
      }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}