@import 'https://at.alicdn.com/t/font_2427781_3i3s4sxq76a.css';

.banner-name.dtm-banner-name {
  color: #fb711c;
  flex-basis: 250px;
  flex-grow: 45;
  font-size: 33px;
}

.collection-filter-block,
.perfect-grill-selectors-wrapper {
  /*** custom checkboxes ***/
  input[type='checkbox'] {
    display: none;
  } /* to hide the checkbox itself */
  input[type='checkbox'] + label:before {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 18px;
  }

  input[type='checkbox'] + label:before {
    content: '\f096';
  } /* unchecked icon */
  input[type='checkbox'] + label:before {
    letter-spacing: 10px;
  } /* space between checkbox and label */

  input[type='checkbox']:checked + label:before {
    content: '\f046';
  } /* checked icon */
  input[type='checkbox']:checked + label:before {
    letter-spacing: 10px;
  } /* allow space for check mark */
}

.parallelograms-group.dtm-parallelograms-group {
  flex-basis: 50%;
  flex-grow: 55;
  flex-shrink: 100;
  .parallelograms.dtm-parallelograms {
    background-color: #fb711c;
  }
}

.collection-top-controllers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #808080;
  h5,
  select {
    color: #808080;
  }

  .collection-view li {
    padding: 0 5px;
  }
}

product-type-collection {
  .collection-image-wrapper {
    img {
      width: 100%;
    }
  }

  .selectedCookTypesAndBrands-nested-filter {
    border-bottom: 1px solid #fb711c;
  }

  .collection-collapse-block .collapse-block-title {
    &:after {
      content: '';
    }
  }

  #collection-search-input {
    border: 1px solid #fb711c;
  }

  .collection-sidebar-filter {
    li {
      display: block;
    }
    .form-control {
      border: none;
      padding-left: 0;
    }

    .form-control-label {
      font-size: 14px !important;
      color: #fb711c !important;
      margin-left: 5px;
    }
  }

  .collection-filter-checkbox {
    margin-bottom: 0 !important;
  }

  ul.first_level_options {
    li {
      display: block;
      ul.second_level_options {
        margin-top: 0 !important;
        li {
          display: block;
        }
      }
    }
  }
}

search-result {
  .search-top-controllers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.collection-view {
  // width: 15% !important;
  text-align: center;

  li.active i {
    color: #111;
  }
  li:not(.active) i {
    color: #555;
  }
}

product-list-top-controllers {
  .search-count {
    border-right: 1px solid #dddddd;
    padding: 5px;
    text-transform: capitalize;
    width: 35%;
  }

  .collection-view {
    padding: 5px;
    width: 10%;
    border-right: 1px solid #dddddd;
  }

  .product-page-per-view {
    position: relative;
    width: 25%;
    select {
      border: 0;
      padding: 5px;
      border-right: 1px solid #dddddd;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;
      background: url('https://cdn.shopify.com/s/files/1/0549/1346/6525/t/4/assets/dropdown.png')
        no-repeat 95%;
    }
  }

  .product-page-filter {
    width: 25%;
    select {
      border: 0;
      padding: 5px 30px;
      border-right: 1px solid #dddddd;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;
      background: url('https://cdn.shopify.com/s/files/1/0549/1346/6525/t/4/assets/dropdown.png')
        no-repeat 95%;
    }
  }
}

.product-pagination .pagination {
  .page-item {
    &.active {
      a.page-link {
        background-color: #e9ecef;
        border-color: #dee2e6;
        &:focus {
          z-index: auto;
          outline: inherit;
          box-shadow: none !important;
        }
      }
    }
    &:not(.active) {
      a.page-link {
        &:focus {
          z-index: auto;
          outline: inherit;
          box-shadow: none !important;
        }
      }
    }
  }
}

.row.search-title-banner-row {
  margin-top: 40px;
}

perfect-grill {
  perfect-grill-selectors {
    .cook-type-logo-wrapper {
      width: 114px;
      text-align: center;
      border: 1px solid #dee2e6;
      border-radius: 4px;
      margin-right: 10px;
      padding: 5px;
      &:last-child {
        margin-right: 0;
      }
      &.inactive {
        color: #cccccc;
      }
      &.active {
        color: #fb711c;
      }
      .iconfont {
        line-height: 1;
        font-size: 100px;
      }
    }
  }
  .search-top-controllers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .perfect-grill-selectors-wrapper {
    box-shadow: 0 2px 5px #dddddd;

    .collection-banner {
      padding-bottom: 3rem;
      padding-top: 2rem;
    }

    .banner-name.dtm-banner-name {
      color: #fb711c;
      flex-basis: 500px;
      flex-grow: 45;
      font-size: 29px;
    }

    perfect-grill-selectors {
      .label-input-wrapper {
        flex-wrap: wrap;
        .perfect-grill-selector-label {
          flex-basis: 185px;
          flex-grow: 0;
          flex-shrink: 0;
          font-size: 20px;
          color: #111;
        }
        .perfect-grill-selector-input {
          flex-grow: 0;
          flex-basis: 610px;
          select {
            border: 1px solid #dee2e6;
            color: #777777;
          }

          .form-check-inline {
            flex-basis: 30%;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  perfect-grill-selectors {
    .form-check-inline {
      flex-basis: 100% !important;
    }
  }
}

compare-table.dtm {
  .modal-header {
    padding: 30px 15px !important;
  }
  .modal-body {
    .table-wrapper {
      .table.table-responsive {
        max-height: 500px;
        tbody {
          width: 100%;
          display: block;
          td {
            word-wrap: break-word;
            word-break: break-all;
          }
        }
      }
    }
  }
}

wishlist-container {
  .icon-shangxiajiantou {
    cursor: pointer;
  }
}

product-page {
  .banner-name.dtm-banner-name {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  table {
    th {
      background-color: #ccc;
    }
    td {
      text-align: center;
    }
  }
}
