<!--Wishlist Page section start-->

{% section 'announcement-bar' %}

<section class="wishlist-section section-b-space wishlist-container">
  <div class="container">
    <div class="row dtm dtm-title pt-2 pb-5">
      <div class="title1 d-flex justify-content-between align-items-center  flex-column flex-md-row " style="flex-grow: 1;">
          <div style="flex-grow: 1;" >
            <h2 class="title-inner1 pb-0 mb-0" style="color: #fb711c;">
              Favourites
            </h2>
          </div>

          <div class="parallelograms-group d-none d-sm-flex">
            <span class="parallelograms parallelogram-lt"> </span>
            <span class="parallelograms parallelogram-rt"> </span>
            <span class="parallelograms parallelogram-br"> </span>
          </div>
      </div>
    </div>
    <wishlist-container 
      empty-image="{{'empty-collection.png'|img_url: '600x600', crop: 'center'}}" 
      empty-search-image={{ 'empty-search.jpg' | asset_url }}"
    ></wishlist-container>
  </div>
</section>
<!--section end-->